body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Ajuste para usar toda la altura de la ventana */
    padding: 3px;
    margin: 0;
    background-color: #2a2835;
}

#cuentaRegresiva {
    font-size: 3rem;
    font-family: 'Digital', sans-serif;
    color: #ffffff;
}

.btn-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    background-color: #ddd;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.btn-icon svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
}

#iniciarCuentaRegresiva:hover {
    background-color: #28a745; /* Verde al hacer hover */
    transform: scale(1.1);
}

@media screen and (min-width: 480px) {
    .btn-icon {
        width: 40px;
        height: 40px;
    }
}

@media screen and (min-width: 768px) {
    #cuentaRegresiva {
        font-size: 4rem;
    }
}
